@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');

:root{
    --branco:white;
    --cor-de-fundo: cyan;
    --fundo-senha: black;
    --fundo-texto: rgb(243, 234, 234);
    --borda:rgb(232, 234, 235);
    --fonte: 'Montserrat';
}
*{
    font-weight:400
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}
.titulo_principal{
    font-family: var(--fonte);
    font-size: 32px;
}
.titulo_secundario{
    text-align: center;
    margin: 80px;

}
